.logo{
  width: 40px;
  height:40px;
}

.navbar{
  display:flex;
  gap:1rem;
}
.navbar1:hover{
  color: blue;
}

@media(max-width:670px)
{
  .direction{
    flex-direction:column;
    width:100%;
    display:block;
    align-items: center;
    text-align: center;
    padding-top:5px;
  }
}
@media(max-width:670px)
{
  .direction1{
    border:2px solid rgb(77, 151, 212);
    padding:10px 0px;
  }
}

.homebg {
  width: 100%;
  height: auto;
  object-fit: cover;
  opacity: 0.2;
  display: block;
}

.homepage {
  width: 300px;
  height: 300px;
  object-fit: contain;
}

.container1{
  display:block;
  width:auto;
  height:auto;
  border-width:4px;
  border-color:midnightblue;
  padding:40px 10px;
  text-align:center;
  border-radius:10%;
}
.container2{
  color:white;
  padding:10px 10px;
  font-size: large;
}

.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color:steelblue;
}
.add{
  width:150px;
  height:200px;
}

.bg1{
  background-color: white;
  border-color: aqua;
  border-width: 4px;
  border-radius: 5%;
}

.hover1:hover{
  background-color:darkgray;
  width:20vh;
  height:auto;
  text-align: center;
}
@media(max-width:800px){
  .bookcart{
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width:100%;
  }
}

.discription{
  width:100%;
  
}
@media(max-width:800px)
{
  .discription{
    width:none;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}
.custom-button1{
  padding-top:10px;
  width:200px;
  align-items: center;
  display:flex;
  flex-direction: column;
}
@media(max-width: 800px) {
  .custom-button1 {
    min-width:100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}
.icons{
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  padding:8px;
  width:30%;
  height:15%;
}
@media(max-width: 800px)
{
  .icons{
    border-radius: 0%;
  }
}
.profile{
  display:flex;
  flex-direction: column;
}
@media(min-width:700px)
{
  .profile{
    display:flex;
    flex-direction: row;
  }
}

.sidebar{
  display:flex;
  max-width:95vh;
  height:auto;
}
@media(min-width:700px)
{
  .sidebar{
    display:flex;
    min-width:0%;
    width: 200px;
    min-height:100vh;
    height: 0%;
  }
}

.recent{
  width:auto;
  height:auto;
}

@media(min-width:"300px")
{
  .recent{
    width:200px;
    height:200px;
  }
}